#content {
	padding: 0;
}

@media screen and (min-width: 660px) {
	#social_icons {
		width: calc(44.4px * 8); /* width of icon * number of icons */
 		height: 36px;
		padding-top: 100px;
		padding-left: calc((620px - (44.4px * 8)) / 2); /* see below */
		padding-right: calc((620px - (44.4px * 8)) / 2);
	}

	/*
		|---------------| 	a: content width = 620px
		|--------|			b: social_icons width = icon width * number of icons
		         |------|	c: a - b
		To center:
		|---|-------|---|	d: c/2 +/- 2
	*/

	#social_icons .icons {
		margin-left: 2px;
		margin-right: 2px;
		display: block;
		float: left;
		font-size: 16px;
	}
}

@media screen and (min-width: 320px) and (max-width:659px) {
	#social_icons {
		width: calc(78px * 3);
		height: calc(71.75px * 3);
		padding-top: 30px;
		padding-left: calc((320px - (78px * 3)) / 2);
		padding-right: calc((320px - (78px * 3)) / 2);
	}

	#social_icons .icons {
		font-size: 25px;
		margin: 8px;
	}

	/* Bottom row only has two icons */
	#social_icons .steam {
		margin-left: 47px;
	}

	#social_icons .linkedin {
		margin-right: 47px;
	}
}

@media screen and (max-width: 319px) {
	#social_icons * {
		margin: 6px 0px 5px 33.5px;
		font-size: 25px;
	}
}
